// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here
body{
    font-family: -apple-system, BlinkMacSystemFont, 
    "Segoe UI", "Roboto", "Oxygen", 
    "Ubuntu", "Cantarell", "Fira Sans", 
    "Droid Sans", "Helvetica Neue", sans-serif;
    color: #494e52;

}
 .sidebar-large{
     display: none;
 }

 .banner_ads {
  display: none;

}
.banner_ads_mobile {
 display: block;

}

 .navbar-nav {
     font-size: 1em;
 }

 .sidebar-small{
     display: block;
   
 }

a{
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 2em 0 0.5em;
    font-family: apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: bold;
    color: #494e52;
    font-size: 1.5em;
}

ul,li,p {
    font-size: 1.3em;
    color: #494e52;
    line-height: 1.5em;
    margin-bottom: 1.3em;

}

u,
ins {
    text-decoration: none;
    border-bottom: 1px solid #494e52
}

u a,
ins a {
    color: inherit
}

del a {
    color: inherit
}


abbr[title],
abbr[data-original-title] {
    text-decoration: none;
    cursor: help;
    border-bottom: 1px dotted #494e52
}

blockquote {
    margin: 2em 1em 2em 0;
    padding-left: 1em;
    padding-right: 1em;
    font-style: italic;
    border-left: 0.25em solid #7a8288
}

blockquote cite {
    font-style: italic
}

blockquote cite:before {
    content: "\2014";
    padding-right: 5px
}

a:hover,
a:active {
    outline: 0
}

tt,
code,
kbd,
samp,
pre {
    font-family: Monaco, Consolas, "Lucida Console", monospace
}



.entry-title{
    font-size: 1.3rem;
    line-height: 1.2;
    margin-bottom: 0.25em;
    margin-top: 0.5em;
}

.entry-title a{
    font-weight: bold;
    color: #494e52;
    font-size: 1.1rem;
    line-height: 1.2;
    margin-bottom: 0.25em;
    cursor: pointer;
}

.entry-content{
    margin-top: 0;
    font-size: .75em;
}

.post_meta{
    color: #9ba1a6;
    font-size: 1em;
    margin-bottom: 0.3em;
}

.entry-content p{
    font-size: 1.3em;
    color: #494e52;
    line-height: 1.5em;
    margin-bottom: 1.3em;
}

.comments-area p{
 font-size: 1.3em;
}

.comments-area h2{
 font-size: 1.4em;
}


.entry-content h2{
    padding-bottom: 0.5em;
    border-bottom: 1px solid #f2f3f3;
}

.sidebar-large{
    opacity: 0.75;
    -webkit-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
}

.sidebar-large:hover{
    opacity: 1;
}

.sidebar-large p{
    font-size: 1em;
    line-height: 1.5;

}

.sidebar-large ul {
    font-size: .75em;
    line-height: 1.5;
    list-style-type: none;
    padding: 0;

}

.sidebar-large li{
    margin-bottom: 0.5em;
}

.sidebar-large h3{
    font-size: 1.8em;
    margin-top: 0.3em;
}

.comments-area p {
    font-size: 0.9em;
}

code, pre{
    color: #292b2c;
    font-size: 1.2em;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    .sidebar-large{
        display: block
    }

     .sidebar-small{
     display: none;
     }

  .entry-title a{
    font-size: 1.8rem;
  }


.banner_ads {
  display: block;

}
.banner_ads_mobile {
 display: none;

}

.entry-content p{
    font-size: 1.8em;
 
}



.entry-title{
    font-size: 2.4rem;
   
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 2.3em;
}


}




.comments-area p {
    font-size: 1.6em;
}

pre,code{
    font-size: 1.4em;
}


.twitter-text{
    font-size: 1.6em;
}


 .sidebar-small img{
    width: 30%;
    float: left;
    
 }

 .author__content-small{
    padding-left: 10px;

    float: left;
    width: 56%;
 }

 .sidebar-small h3{
         margin-top: 0.5em;
    font-size: 1.2em;
 }

 .sidebar-small p {
     font-size: 1em;
     margin-bottom: 0.1em;
 }

 .sidebar-small button {
    width: 114px;
 }

 .modal-social{
  list-style: none;
}
.modal-social a{
  color:black;
  text-decoration: none;
}

.modal-body{
  overflow: hidden !important;
}

#list-left{
    padding: 20px;
   list-style: none;
    float: left;
    width: 40%;
}
#list-right{
      padding: 20px;
    list-style: none;
    float: left;
    width: 40%;
}
.modal-content{
    font-size: 0.5em;
}

.modal img {
        width: 30%;
    float: left;
    padding-right: 1em;
}
.adsbygoogle {
    border-bottom: 0px;
}





