// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here
body{
    font-family: -apple-system, BlinkMacSystemFont, 
    "Segoe UI", "Roboto", "Oxygen", 
    "Ubuntu", "Cantarell", "Fira Sans", 
    "Droid Sans", "Helvetica Neue", sans-serif;
    color: #333333;
}

 .sidebar-large{
     display: none;
 }

 .banner_ads {
  display: none;

}
.banner_ads_mobile {
 display: block;

}

 .navbar-nav {
     font-size: 1em;
 }

 .sidebar-small{
     display: block;
   
 }

a{
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 2em 0 0.5em;
    font-family: apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: bold;
     color: #333333;
    // font-size: 1.5em;
}

ul,li,p {
    font-size: 1.3em;
    color: #494e52;
    line-height: 1.5em;
    margin-bottom: 1.5em;

}

.navbar-nav li{
    font-size: 1em;
    color: #494e52;
    line-height: 1.5em;
    margin-bottom: 0em;
}

.navbar-brand{
    margin: auto;
    padding-right: 10px;
}

u,
ins {
    text-decoration: none;
    border-bottom: 1px solid #494e52
}

u a,
ins a {
    color: inherit
}

del a {
    color: inherit
}

.alert{
font-size: 1.4em;
}

abbr[title],
abbr[data-original-title] {
    text-decoration: none;
    cursor: help;
    border-bottom: 1px dotted #494e52
}

blockquote {
    margin: 2em 1em 2em 0;
    padding-left: 1em;
    padding-right: 1em;
    font-style: italic;
    border-left: 0.25em solid #7a8288
}

blockquote cite {
    font-style: italic
}

blockquote cite:before {
    content: "\2014";
    padding-right: 5px
}

a:hover,
a:active {
    outline: 0
}

tt,
code,
kbd,
samp,
pre {
    font-family: Monaco, Consolas, "Lucida Console", monospace
}

code, pre{
    // color: #bd4147;
}


.entry-content a {
    color: #167ac6;
}



.entry-title{
    font-size: 1.8rem;
    line-height: 1.2;
    margin-bottom: 0.25em;
    margin-top: 0.5em;
}

.entry-title a{
    font-weight: bold;
    color: #494e52;
    font-size: 1.7rem;
    line-height: 1.2;
    margin-bottom: 0.25em;
    cursor: pointer;
}

.alert p{
     font-size: 1em;
}

.entry-content{
    margin-top: 0;
    font-size: .75em;
}

.entry-content li{
    margin-bottom: 0px;

}

.post_meta{
    color: #9ba1a6;
    font-size: 1em;
    margin-bottom: 0.3em;
}

.entry-content p{
    font-size: 1.5em;
     color: #333333;
    line-height: 1.5em;
    margin-bottom: 1.5em;
}

.comments-area p{
 font-size: 1.5em;
}

.comments-area h2{
 font-size: 1.4em;
}


.entry-content h2{
    padding-bottom: 0.5em;
    border-bottom: 1px solid #f2f3f3;
}

.sidebar-large{
    opacity: 0.75;
    -webkit-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
}

.sidebar-large:hover{
    opacity: 1;
}

.sidebar-large p{
    font-size: 1em;
    line-height: 1.5;

}

.sidebar-large ul {
    font-size: .75em;
    line-height: 1.5;
    list-style-type: none;
    padding: 0;

}

.sidebar-large li{
    margin-bottom: 0.5em;
}

.sidebar-large h3{
    font-size: 1.8em;
    margin-top: 0.3em;
}

.comments-area p {
    font-size: 0.9em;
}





.comments-area p {
    font-size: 1.6em;
}



.twitter-text{
    font-size: 1.6em;
}


 .sidebar-small img{
    width: 100%;
    float: left;
    
 }

 .author__content-small{
    padding-left: 10px;
    float: left;
    width: 56%;
    /* padding-bottom: 20px; */
    /* margin-bottom: 20px; */
 }

 .sidebar-small h3{
         margin-top: 0.5em;
    font-size: 1.2em;
 }

 .sidebar-small p {
     font-size: 1em;
     margin-bottom: 0.1em;
 }

 .sidebar-small button {
     /* width: 114px; */
    margin-top: 5px;
    width: 100%;
    margin-bottom: 20px;
    float: left;
 }

 .modal-social{
  list-style: none;
}
.modal-social a{
  color:black;
  text-decoration: none;
}

.modal-body{
  overflow: hidden !important;
}

#list-left{
    padding: 20px;
   list-style: none;
    float: left;
    width: 40%;
}
#list-right{
      padding: 20px;
    list-style: none;
    float: left;
    width: 40%;
}
.modal-content{
    font-size: 0.5em;
}

.modal img {
        width: 30%;
    float: left;
    padding-right: 1em;
}
.adsbygoogle {
    border-bottom: 0px;
}



/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    .sidebar-large{
        display: block
    }

     .sidebar-small{
     display: none;
     }

  .entry-title a{
    font-size: 1.8rem;
  }


.banner_ads {
  display: block;

}
.banner_ads_mobile {
 display: none;

}

.entry-content p{
    // font-size: 1.7em;
 
}




.entry-title{
    font-size: 2.4rem;
   
}



}

// I really like the article described about new modern scale. The source and credit for the following can be found here: https://typecast.com/blog/a-more-modern-scale-for-web-typography

h1 {
  font-size: 2em;
  /* 2x body copy size = 32px */
  line-height: 1.25;
  /* 45px / 36px */
}

@media (min-width: 43.75em) {
  h1 {
    font-size: 2.5em;
    /* 2.5x body copy size = 40px */
    line-height: 1.125;
  }
}

@media (min-width: 56.25em) {
  h1 {
    font-size: 3em;
    /* 3x body copy size = 48px */
    line-height: 1.05;
    /* keep to a multiple of the 20px line height 
    and something more appropriate for display headings */
  }
}

h2 {
  font-size: 1.625em;
  /* 1.625x body copy size = 26px */
  line-height: 1.15384615;
  /* 30px / 26px */
}

@media (min-width: 43.75em) {
  h2 {
    font-size: 2em;
    /* 2x body copy size = 32px */
    line-height: 1.25;
  }
}

@media (min-width: 56.25em) {
  h2 {
    font-size: 2.25em;
    /* 2.25x body copy size = 36px */
    line-height: 1.25;
  }
}

h3 {
  font-size: 1.375em;
  /* 1.375x body copy size = 22px */
  line-height: 1.13636364;
  /* 25px / 22px */
}

@media (min-width: 43.75em) {
  h3 {
    font-size: 1.5em;
    /* 1.5x body copy size = 24px */
    line-height: 1.25;
  }
}

@media (min-width: 56.25em) {
  h3 {
    font-size: 1.75em;
    /* 1.75x body copy size = 28px */
    line-height: 1.25;
  }
}

h4 {
  font-size: 1.125em;
  /* 1.125x body copy size = 18px */
  line-height: 1.11111111;
}

@media (min-width: 43.75em) {
  h4 {
    line-height: 1.22222222;
    /* (22px / 18px */
  }
}

.author__avatar-small{
    width: 40%;
    float: left;
}

#special-line{
        width: 100%;
    /* padding-top: 20px; */
    /* padding-bottom: 20px; */
    margin-top: 10px;
}






